body {
    margin: 0;
    height: auto;
    background-color: #ebf1e9;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

#main-container {
    width: 1024px;
    height: 4000px;
    background-color: darkslategrey;
}

.header {
    width: 1024px;
    height: 235px;
    border: rgb(0, 0, 0) solid 1px;
    display: flex;
    justify-content: flex-end;
}

#headertext {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: solid 1px black;
    color: aqua;
    background-color: pink;
}

#headerfirstname {
    background-color: purple;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 1024px;
    height: 106px;
    border: rgb(0, 0, 0) solid 1px;
}

#navtext {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bio {
    width: 1024px;
    height: 483px;
    border: rgb(0, 0, 0) solid 1px;
    display: flex;
}

#bioheader {
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: -20px;
}

#biotext {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -250px;
    left: -75px;
}

#bioimg {
    display: flex;
    width: 202.5px;
    height: 218.5px;
    position: relative;
    left: 850px;
}

.myworks {
    width: 1024px;
    height: 532px;
    border: rgb(0, 0, 0) solid 1px;
    display: flex;
}

.footer {
    width: 1024px;
    height: 129px;
    border: rgb(0, 0, 0) solid 1px;
    display: flex;
}

ul {
    list-style-type: none;
}

li {
    border: solid 1px black;
    align-self: center;
    flex-grow: 1;
}